<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PokéAPI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Buscar Pokémon
      </ion-card-title>
      <ion-card-content>
        <ion-input label="Digite o nome do Pokémon" labelPlacement="floating" [(ngModel)]="nome"></ion-input>
        <ion-button (click)="verificar()">
          Verificar
        </ion-button>
      </ion-card-content>
    </ion-card-header>
  </ion-card>

</ion-content>
